.navbar {
          display: flex;

          justify-content: space-between;

          gap: 10px;

          align-items: center;

          background-color: rgb(0, 0, 0);

          padding: 15px 30px;
}

.logo {
          color: aqua;
          font-size: 24px;
          font-weight: bold;
          justify-content: flex-start;
}

article {
  background: #d22323;
  color: #ffffff;
  border: none;
  padding: 0.6rem 1.4rem;
  border-radius: 6px;
  font-size: 0.95rem; 
  align-items: center;
  text-align: center;
}

button {
  background: #d22323;
  color: #ffffff;
  border: none;
  padding: 0.6rem 1.4rem;
  border-radius: 6px;
  font-size: 0.95rem;
  cursor: pointer;
  transition: background 0.2s;
}

button:hover {
  background: #056fc7;
}

article:hover {
    background: #056fc7;
}

.footer {
          background-color: rgb(129, 29, 29);
          color: white;
          text-align: center;
          padding: 15px 30px;
          font-size: 14px;
}
